body {
}

.container {
    display: flex;
    /* background-color: DodgerBlue; */
    flex-flow: column wrap;

}

.container-row {
    display: flex;
    /* background-color: DodgerBlue; */
    flex-flow: row nowrap;
    align-self: center;
    justify-content: center;
}

.flex-item {
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 750px;
}

.flex-item2 {
    
    align-self: center;
    justify-content: flex-start;
    align-content: center;
    text-align: left;
    max-width: 750px;
    margin: 10px;
}

.flex-item3 {
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 200px;
    background-color: DodgerBlue; 
    margin: 10px;
}

.flex-item4 {
    align-self:baseline;
    justify-content:space-around;
    align-content:space-around;
    text-align: right;
    background-color: DodgerBlue;
}


.RBL label {
    margin:5px;
}